In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [14]:
cd=df.drop(['Name','Parch',"Embarked",'Ticket','SibSp','Pclass','Cabin'], axis=1)

In [15]:
cd.Sex[cd.Sex == 'male'] = 1
cd.Sex[cd.Sex == 'female'] = 2

<ipython-input-15-93fae1225afd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd.Sex[cd.Sex == 'male'] = 1
<ipython-input-15-93fae1225afd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd.Sex[cd.Sex == 'female'] = 2

In [16]:
inputs = cd.drop('Survived',axis='columns')
target = cd.Survived

In [17]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [18]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   PassengerId Sex   Age     Fare
0            2   2  38.0  71.2833
1            4   2  35.0  53.1000
2            7   1  54.0  51.8625
3           11   2   4.0  16.7000
4           12   2  58.0  26.5500

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [20]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [21]:
model.fit(X_train, y_train)

GaussianNB()

In [24]:
model.score(X_test,y_test)

0.8108108108108109

In [25]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.8       , 0.5862069 , 0.72413793, 0.68965517, 0.72413793])